{% extends "base.html" %} {% block title %}About Us - FluentFusion{% endblock %}
{% block content %}
<!-- About Us content goes here -->
<!-- About Us Section -->

<section id="about-us" class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-4">About FluentFusion</h2>
    <hr style="font-size: medium" />
    <br />
    <div class="row">
      <div class="col-md-6">
        <h3>Our Mission</h3>
        <p>
          FluentFusion is dedicated to breaking language barriers and fostering
          cultural understanding. We aim to provide an innovative and
          interactive language learning experience for students of all levels.
        </p>
        <h3>For Teachers</h3>
        <p>
          At FluentFusion, we empower language educators with tools and
          resources to create engaging and effective lessons. Join our community
          of teachers and help students achieve fluency in their desired
          languages.
        </p>
        <h3>For Students</h3>
        <p>
          We believe in student-centered learning. Our platform offers a wide
          range of courses, personalized learning paths, and real-life practice
          opportunities. Start your journey to fluency today!
        </p>
      </div>
      <div class="col-md-auto" class="image_class">
        <!-- Blue-themed illustrations -->
        <img
          src="/static/images/Home/about1.jpeg"
          alt="Illustration 1"
          class="img-fluid mb-4"
        />
        <!-- <img 
          src="/static/images/Home/about2.jpeg"
          alt="Illustration 2"
          class="img-fluid"
        /> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
