{% extends "base.html" %} {% block title %}Add Course - FluentFusion{% endblock
%} {% block content %}

<h2 class="mb-4">Add Course</h2>
<div>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="close"
      >
        <span aria-hidden="true">x</span>
      </button>
      {{ message }}
    </div>

    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</div>
<form action="/add_course" method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title" required />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="teacher_id">Teacher ID:</label>
    <input
      type="number"
      class="form-control"
      id="teacher_id"
      name="teacher_id"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
