{% extends "base_admin.html" %} {% block title %}Add Teacher - FluentFusion{%
endblock %} {% block content %}

<h2 class="mb-4">Add Teacher</h2>
<div>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="close"
      >
        <span aria-hidden="true">x</span>
      </button>
      {{ message }}
    </div>

    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</div>
<form action="/add_teacher" method="POST">
  <div class="form-group">
    <label for="teacher_name">Teacher Name:</label>
    <input
      type="text"
      class="form-control"
      id="teacher_name"
      name="teacher_name"
      required
    />
  </div>
  <div class="form-group">
    <label for="qualification">Qualification:</label>
    <input
      type="text"
      class="form-control"
      id="qualification"
      name="qualification"
      required
    />
  </div>
  <div class="form-group">
    <label for="major_subject">Major Subject:</label>
    <input
      type="text"
      class="form-control"
      id="major_subject"
      name="major_subject"
      required
    />
  </div>
  <div class="form-group">
    <label for="ratings">Ratings:</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="ratings"
      name="ratings"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
