<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/dashboard_styles.css') }}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>


<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="./user.html">Fluent Fusion</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="true"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            </li>
            <!-- <li><a class="dropdown-item" href="#!">Admin info</a></li> -->
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#!">Logout</a></li>
        </ul>
        </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        </a>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Manage courses
                        </a>
                        <!-- <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            My Courses
                        </a> -->
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Users Details
                        </a>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Notifications & Alerts
                        </a>

                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Settings & Configuration
                        </a>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Manage Widgets
                        </a>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Logout
                        </a>
                        <!-- <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            UI Language
                        </a> -->
                        <div class="sb-sidenav-menu-heading">Pages for Admin</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Terms & Conditions
                        </a><a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Privacy Policy
                        </a><a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Contact Us
                        </a><a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            FAQ
                        </a><a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Disclaimer
                        </a><a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Cookie Policy
                        </a>

                        <div class="sb-sidenav-menu-heading">Important</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            Backup & Recovery
                        </a>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas"></i></div>
                            DocumentatioN
                        </a>
                    </div>
                </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Admin Loggedin</div>

        </div>
        </nav>

        <div id="layoutSidenav_content">
            <main>

                <div class="container-fluid px-5">
                    <h1 class="mt-5">Admin Pannel</h1>
                    <ol class="breadcrumb mb-4">
                        <!-- <li class="breadcrumb-item active">Username</li> -->
                    </ol>

                    <div class="container">
                        <section id="user-info">
                            <!-- Continue Learning Section -->
                            <h2>Users info:</h2>
                            <div class="row">
                                <!-- Use a loop to generate cards for each ongoing course or lesson -->
                                <div class="col-md-4">
                                    <div class="card mb-4">
                                        <div class="card-body bg-gradient">
                                            <h5 class="card-title">User names</h5>
                                            <ol>
                                                <li>name #</li>
                                                <li>name #</li>
                                                <li>name #</li>
                                                <li>name #</li>
                                                <li>........</li>

                                            </ol>
                                            <a href="course-detail.html" class="btn btn-primary">View all and manage
                                                users...</a>
                                        </div>

                                    </div>
                                </div>

                                <!-- Repeat this card structure for each ongoing course/lesson -->
                            </div>
                        </section>
                        <section id="course-info">
                            <!-- Continue Learning Section -->
                            <h2>Course &mid; Content Information</h2>
                            <div class="row">
                                <!-- Use a loop to generate cards for each ongoing course or lesson -->
                                <div class="col-md-4">
                                    <div class="card mb-4">
                                        <div class="card-body bg-gradient">
                                            <h5 class="card-title">Added languages</h5>
                                            <ol>
                                                <li>lang #</li>
                                                <li>lang #</li>
                                                <p>........</p>


                                            </ol>
                                            <a href="course-detail.html" class="btn btn-primary">View all and manage
                                                languages...</a>
                                        </div>

                                    </div>
                                </div>

                                <!-- Repeat this card structure for each ongoing course/lesson -->
                            </div>
                        </section>
                    </div>
                    <div class="container-fluid px-4">
                        <h1 class="mt-5">Analytics</h1>
                        <ol class="breadcrumb mb-4">
                            <!-- <li class="breadcrumb-item active">Username</li> -->
                        </ol>
                        <div class="container">
                            <section id="user-info">
                                <div class="row">
                                    <section id="user-analytics">

                                        <h2>User Analytics</h2>
                                        <div class="row">
                                            <!-- Use a loop to generate cards for each ongoing course or lesson -->
                                            <div class="col-md-4">
                                                <div class="card mb-4">
                                                    <div class="card-body bg-gradient">
                                                        <h5 class="card-title">User engagement metrics</h5>

                                                        <a href="course-detail.html" class="btn btn-primary">View User
                                                            Engagement</a>
                                                    </div>

                                                    <div class="card-body bg-gradient">
                                                        <h5 class="card-title">User Progress Tracking</h5>

                                                        <a href="course-detail.html" class="btn btn-primary">View &
                                                            Track
                                                            user
                                                            progress</a>
                                                    </div>

                                                </div>
                                            </div>

                                            <!-- Repeat this card structure for each ongoing course/lesson -->
                                        </div>
                                    </section>
                                    <br>
                                    <hr><br>
                                    <div class="row">
                                        <section id="course-analytics">

                                            <h2>Content Analytics</h2>
                                            <div class="row">
                                                <!-- Use a loop to generate cards for each ongoing course or lesson -->
                                                <div class="col-md-4">
                                                    <div class="card mb-4">
                                                        <div class="card-body bg-gradient">
                                                            <h5 class="card-title">Usage Statistics</h5>

                                                            <a href="course-detail.html" class="btn btn-primary">View
                                                                all</a>
                                                        </div>

                                                        <div class="card-body bg-gradient">
                                                            <h5 class="card-title">course Feedbacks & Ratings</h5>

                                                            <a href="course-detail.html" class="btn btn-primary">View
                                                                all</a>
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- Repeat this card structure for each ongoing course/lesson -->
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-5">
                    <div class="d-inline align-items-center ">
                        <div class="text-dark">Copyright &copy; FluentFusion 2023</div>


                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dashboard_scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>
