{% extends "base_admin.html" %} {% block title %}Manage Users - FluentFusion{%
endblock %} {% block content %}

<br />
<h1>Manage Users</h1>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="/static/images/Home/user.jpg"
        class="card-img"
        alt="User Image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">User Management</h5>
        <p class="card-text">
          This section allows you to manage users effectively. You can view,
          edit, and delete user information based on your requirements. Stay
          organized and maintain a seamless user management system.
        </p>
      </div>
    </div>
  </div>
</div>

<h2>Actions</h2>
<a href="/view_users"
  ><button type="button" class="btn btn-warning"><b>View Users</b></button></a
>
<br /><br />
{% endblock %}
