<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FluentFusion{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css" />
    <script type="js" href="{{ url_for('static', filename='js/Home/app.js') }}""></script>
  </head>
  <body>
    <!-- Navbar -->
    <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <img
          src="{{ url_for('static', filename='images/Home/logo11.png') }}"
          alt="FluentFusion Logo"
          width="100"
          height="100"
        />
        <a class="navbar-brand" href="#">FluentFusion</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign in</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container-fluid">{% block content %}{% endblock %}</div>

    <!-- Footer Section -->
    <footer class="bg-dark text-white text-center py-4">
      <div class="container">
        <p>&copy; 2023 FLUENT FUSION</p>
      </div>
    </footer>
  </div>
    <!-- Bootstrap JS (jQuery and Popper.js) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Loader with Logo -->
    <!-- <div id="loader">
      <img
        src="{{ url_for('static', filename='images/Home/logo11.png') }}"
        alt="Loader Logo"
      />
    </div> -->
  </body>
</html>
